<table class="deatils-table">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Employee Number</th>
      <th>Employee Email</th>
      <th>Employee Age</th>
      <th>Update</th>
      <th>Delete</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.employeeID}}</td>
      <td>{{employee.employeeName}}</td>
      <td>{{employee.employeeNumber}}</td>
      <td>{{employee.employeeEmail}}</td>
      <td>{{employee.employeeAge}}</td>
      <td>
        <button type="button" [routerLink]="['/UpdateEmployee', employee.employeeID]">Update</button>
      </td>
      <td>
        <button type="button" [routerLink]="['/DeleteEmployee', employee.employeeID]">Delete</button>
      </td>
    </tr>

  </tbody>
</table>
<br />
<br />

<button type="button" [routerLink]="['/AddEmployee']">Add Employee</button>
